/* Base styles */

* {
  box-sizing: border-box;
}

html,
body,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #eee;
}

/* Application styles */

.main {
  display: flex;
  flex-flow: column nowrap;
  min-width: 500px;
  max-width: 800px;
  margin: 15px auto;

  &_item {
    padding: 10px 8px;
  }
}
