/* Header styles */

@import '../shared';

.header {
  background-color: rgba(245, 248, 248, 1);
  display: flex;
  align-items: center;
  padding: 8px 50px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5),;

  &_brand {
    padding: 0 10px;
    font-size: 24px;
    font-weight: bold;
    color: $c-orange;
  }

  &_nav {
    width: 80%;
    padding: 0 10px;

    &-list {
      float: right;
      list-style-type: none;
    }

    a {
      text-decoration: none;
      color: #999;

      &:hover {
        color: #333;
      }
    }
  }
}

