.header {
  background-color: rgba(245, 248, 248, 1);
  display: flex;
  align-items: center;
  padding: 10px 50px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.5),;

  &_brand {
    padding: 0 10px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(243, 88, 15);
  }

  &_nav {
    &-list {
      display: flex;
      list-style-type: none;
    }

    &-item {

    }
  }
}

