/* Keyboard styles */

.keyboard {
  width: 100%;
  height: 350px;
  border: 1px solid #888;
  border-radius: 5px;
  padding: 10px 20px 30px;
  margin-top: 20px;

  &_frame {
    border: 1px solid #bbb;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    position: relative;
    padding: 0;
  }

  &_row {
    display: flex;
    margin: 3px 2px;
    height: 48px;
  }

  &_row-function-keys {
    height: 32px;
  }

  &_row-bottom {
    width: 85%;
  }

  &_key {
    border-top: 1px solid #555;
    border-bottom: 2px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    flex-grow: 1;
    flex-basis: 0;
    margin: 0 1px;
    height: 100%;
    border-radius: 5px 5px 3px 3px;
    box-shadow: inset 0px -3px 1px 2px #bbb;
    padding: 0;
    padding-top: 5px;
    padding-left: 5px;

    display: flex;
    flex-direction: column;

    &.is-key-pressed {
      background-color: #6d9ddd;
      height: 85%;
      align-self: flex-end;
      box-shadow: inset -1px 0 1px #888;
    }

    &_label {
      font-size: 10px;

      & + & {
        margin-top: 2px;
      }
    }
  }
}

